#login {
    width: 400px;
    height: 260px;
    margin: 160px auto 0px;
    background-color: #8CC2E9;
}
#login form dl dt {
    text-align: center;
    margin-top: 10px;
}

#login dl dt.login-title span {
    position: absolute;
    margin-top: 20px;
    left: 0px;
    /*margin-left: 40.5rem; *//*47.7*/
    margin-left: 47.5%;
    letter-spacing: 2px;
    font-weight: 600;
}
#login dl dt.login-title label {
    display: inline-block;
    width: 130px;
    border-bottom: solid 1px #FFFACD;
    margin-top: 30px;
}
#login dl dt.login-title label:nth-child(2) {
    width: 100px;
    border-bottom: solid 0px #B0E0E6;
}
#login dl dd input {
    width: 80%;
    line-height: 30px;
    text-indent: 30px;
    border-radius: 3px;
    margin: 10px ;
}
#login dl dd label.icon-user {
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: 45px;
    margin-left: 13px;
    background-image: url(../img/icon-small.jpg);
    background-position-x: -25px;
    background-position-y: 50px;
}
#login dl dd label.icon-password {
    position: absolute;
    width: 28px;
    height: 28px;
    margin-top: 15px;
    margin-left: 13px;
    background-image: url(../img/icon-small.jpg);
    background-position-x: -625px;
    background-position-y: 650px;
}
#login dl dd label.icon-error{
    position: relative;
    width: 130px;
    margin-left: 13px;
}
#login dl dd input[type=text] {
    margin-top: 40px;
}
#login dl dd input[type=submit] {
    background-color:	#6495ED;
    text-indent: 0px;
}
#login dl dd input[type=submit]:hover {
    color: #DCDCFE;
    box-shadow: 5px 5px 10px #DCDCFE;
}